<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Donation Form</title>
    <style>
      
body{
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background:url('https://media.istockphoto.com/id/486121005/photo/sun-rays-inside-coconut-palms.webp?b=1&s=170667a&w=0&k=20&c=RsE02692qNh7SapxtJ7CzuzsmBpuuOm25NRxUazCgcE=') no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    padding: 1.2rem;
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.7rem;
}
h1{
    font-size:2.6rem;
    color:#843311;
}
label{
    font-size:1rem;
    color:#843311;
}
input{
    position: relative;
    width:90%;
    padding: .9rem;
    margin: 1.2rem 0;
    border: 1px solid #843311;
    border-radius: 4px;
}
button{
    position: relative;
    transition: all .2s linear;
    background-color: #4c75af;
    color:#fff;
    padding: .7rem .9rem;
    border:none;
    border-radius:10%;
    cursor:pointer; 
    margin-left:40% ;
}
button:hover{
    background-color: #7682a9;
}
    </style>
</head>
<body>
    <div class="container">
        <h1>Tree Donation Form</h1>
        <form action="/submit" method="post" enctype="multipart/form-data">
            <label for="excelFile">Upload Excel File:</label>
            <input type="file" name="excelFile" accept=".xlsx">
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- <h1>Tree Donation Form</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <label for="excelFile">Upload Excel File:</label>
        <input type="file" name="excelFile" accept=".xlsx">
        <br>
        <button type="submit">Submit</button>
    </form> -->
</body>
</html>